{{- $paginator := .paginator -}}
{{- $ctx := .ctx -}}
{{- $type := $ctx.Type -}}

{{- $sortConfig := "date-reverse" -}}
{{- if eq $type "categories" -}}
  {{- $sortConfig = $ctx.Site.Params.sort_order.taxonomy.category -}}
{{- else if eq $type "tags" -}}
  {{- $sortConfig = $ctx.Site.Params.sort_order.taxonomy.tag -}}
{{- else if eq $type "archives" -}}
  {{- $sortConfig = $ctx.Site.Params.sort_order.archive -}}
{{- end -}}

<section class="archives-wrap" data-aos="{{ $ctx.Site.Params.animation.options.archive.section }}">
  <ul>
    {{- if or (eq $sortConfig "weight") (eq $sortConfig "weight-reverse") (eq $sortConfig "default") -}}
      {{- range $paginator -}}
        {{- partial "post/list-item.html" . -}}
      {{- end -}}
    {{- else -}}
      {{- range $paginator -}}
        {{- range .Pages -}}
          {{- partial "post/list-item.html" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ul>
</section>
