{{- define "main" -}}
  {{- $ctx := . -}}
  <div class="post-categories-wrapper" data-aos="{{ $ctx.Site.Params.animation.options.home.post }}">
    {{- range $categoryConfig := $ctx.Site.Params.home_categories.content -}}
      {{- $category := $categoryConfig.categories -}}
      {{- if $category -}}
        <div class="post-categories-wrap">
          <a class="post-link" href="{{ (printf "%s%s" "categories/" (urlize $category)) | relLangURL }}" aria-label="{{ $category }}" title="{{ $category }}"></a>
          <div class="post-categories-cover">
            {{- if $categoryConfig.cover -}}
              <img data-src="{{ $categoryConfig.cover | relURL }}" data-sizes="auto" alt="{{ $category }}" class="lazyload" />
            {{- else -}}
              {{- $cover := partial "helpers/randomCover.html" $ctx -}}
              {{- if $cover -}}
                <img data-src="{{ $cover | relURL }}" data-sizes="auto" alt="{{ $category }}" class="lazyload" />
              {{- else -}}
                <img data-src="{{ $ctx.Site.Params.banner | relURL }}" data-sizes="auto" alt="{{ $category }}" class="lazyload" />
              {{- end -}}
            {{- end -}}
            <h2>{{ $category }}</h2>
            <h3>{{ i18n "home_categories.count" (len (index $ctx.Site.Taxonomies.categories (lower $category))) }}</h3>
          </div>
        </div>
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
